@import '../../config/variable.scss';

.tagCarousel a {
  color: $darker-fill-color;
}

.tagCarousel {
  display: grid;
  grid-area: tagCarousel;
  font-family: $open-font;
  border-top: $light-border;
  border-bottom: $light-border;
  grid-template-columns: auto;
  grid-template-rows: 2em auto;
  grid-template-areas: 
    "carTitle"
    "car";
  grid-gap: .75em;
  padding: 1.5% .5% 2.5%;
}

.tag-car-container {
  display: grid;
  grid-area: car;
  grid-gap: 1.9em;
  font-size: $m-smaller;
}

.tag-car-title {
  grid-area: carTitle; 
  display: flex;
  justify-content: space-between;
  font-size: $m-small;
}

.tag-car-title a {
  transition: all .4s ease-in-out;
  fill: $between-fill-color;
}

.tag-car-title a svg {
  padding-left: .1em;
}

.tag-car-title a:hover {
  margin-right: -.3em;
  fill: #000;
  color: #000;
}

.tag-car-link p:first-child {
  display: inline-block;
  font-weight: bold;
}

.tag-car-link svg {
  padding-left: .3em;
  fill: $between-fill-color;
}

.tag-car-link:hover {
  color: #000;
}

.tag-car-link:hover svg {
  fill: #000;
  animation: .4s forwards hoverarrow;
}

@keyframes hoverarrow {
  from {
    padding-left:.3em;
    fill: $darker-fill-color;
  }

  to {
    padding-left: .75em;
    fill: #000;
  }
}

.tag-car-link {
  transition: all .25s ease-in-out;
}

@media (min-width: 1625px) {
  .tagCarousel {
    margin: 6.5em $media-large;
  }

  .tag-car-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
  }
}

@media (min-width: 1225px) and (max-width: 1624px) {
  .tagCarousel {
    margin: 6.5em $media-medium;
  }

  .tag-car-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
  }
}

@media (min-width: 768px) and (max-width: 1224px) {
  .tagCarousel {
    margin: 6.5em $media-small;
  }

  .tag-car-container {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .tagCarousel {
    margin: 4.5em $media-smallest;
  }

  .tag-car-container {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
  }
}