.c-searchBar {
    &__start-icon {
        display: block;
        cursor: pointer;
    }
    &__container {
        display: none;
    }
}

.c-searchBar--isActive.c-searchBar {
    .c-searchBar {
        &__start-icon {
            display: none;
        }
        &__container {
            display: block;
        }
    }
}