@import '../../config/variable.scss';

.home-more-articles-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: .2em;
}

.home-more-articles-link a {
  color: #000;
}

.home-more-articles-link a svg {
  padding-left: .1em;
}

.home-more-articles-link a:hover {
  margin-right: -.2em;
  fill: #000;
}

.home-more-articles-link a {
  transition: all .25s ease-in-out;
  fill: $between-fill-color;
}

.home-subscribe {
    grid-area: subsc;
    background: $fill-color;
    padding-top: 1.5em;
}

@media (min-width: 1625px) {
    .all-wrap-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4.5em 1fr 15em;
        grid-template-areas:
          "header"
          "body"
          "footer";
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 1.45;
    }

    .home-body {
      grid-area: body;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 3em repeat( 5, auto);
      grid-template-areas:
      "featuredArticle"
      "featuredNote"
      "articleTitle"
      "articleGrid"
      "morearticles"
      "subsc"
      "resources"
      "featuredAuthor";
      margin: 6.75em 0 5%;
      font-family: $open-font;
    }

    .featured-article-card {
        grid-area: featuredArticle;
        margin: 0 $media-large 2.5%;
    }

    .featured-note-container {
        grid-area: featuredNote;
        margin: 1.5em $media-large 9em;
    }
    .articleGrid {
        grid-area: articleGrid;
        margin: 1.75em $media-large;
        display: grid;
        grid-template-columns: repeat( 3, 1fr);
        grid-template-rows: auto;
        grid-gap: 2em;
    }
    
    .home-more-articles-link {
        grid-area: morearticles;
        margin: 0 $media-large 3em;
        padding-right: 1%;
        height: 3em;
        border-top: $light-border;
        border-bottom: $light-border;
    }

    .home-resources {
        grid-area: resources;
        padding: 5em $media-large;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .home-authors {
        grid-area: featuredAuthor;
        padding: 5em $media-large;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1225px) and (max-width: 1624px) {
    .all-wrap-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4.5em 1fr 15em;
        grid-template-areas:
          "header"
          "body"
          "footer";
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 1.45;
    }

    .home-body {
      grid-area: body;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 3em repeat( 5, auto);
      grid-template-areas:
      "featuredArticle"
      "featuredNote"
      "articleTitle"
      "articleGrid"
      "morearticles"
      "subsc"
      "resources"
      "featuredAuthor";
      margin: 5.75em 0 5%;
      font-family: $open-font;
    }

    .featured-article-card {
        grid-area: featuredArticle;
        margin: 0 $media-medium 2.5%;
    }

    .featured-note-container {
        grid-area: featuredNote;
        margin: 1.5em $media-medium 9em;
    }

    .articleGrid {
        grid-area: articleGrid;
        margin: 1.75em $media-medium;
        display: grid;
        grid-template-columns: repeat( 3, 1fr);
        grid-template-rows: auto;
        grid-gap: 2em;
    }
    
    .home-more-articles-link {
        grid-area: morearticles;
        margin: 0 $media-medium 3em;
        padding-right: 1%;
        height: 3em;
        border-top: $light-border;
        border-bottom: $light-border;
    }

    .home-resources {
        grid-area: resources;
        padding: 5em $media-medium;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .home-authors {
        grid-area: featuredAuthor;
        padding: 5em $media-medium;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}


@media (min-width: 768px) and (max-width: 1224px) {
    .all-wrap-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4.5em 1fr 15em;
        grid-template-areas:
          "header"
          "body"
          "footer";
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        line-height: 1.45;
    }

    .home-body {
        grid-area: body;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 3em repeat( 5, auto);
        grid-template-areas:
        "featuredArticle"
        "featuredNote"
        "articleTitle"
        "articleGrid"
        "morearticles"
        "subsc"
        "resources"
        "featuredAuthor";
        margin: 3.75em 0 $media-smallest;
        font-family: $open-font;
    }

    .featured-article-card {
        grid-area: featuredArticle;
        margin: 0 $media-small 5em;
    }

    .featured-note-container {
        grid-area: featuredNote;
        margin: 1.5em $media-small 9em;
    }


    .articleGrid {
        grid-area: articleGrid;
        margin: 1.75em $media-small;
      
        display: grid;
        grid-template-columns: repeat( 2, 1fr);
        grid-template-rows: auto;
        grid-gap: 2em;
    }
    
    .home-more-articles-link {
        grid-area: morearticles;
        margin: 0 $media-small 3em;
        padding-right: 1%;
        height: 3em;
        border-top: $light-border;
        border-bottom: $light-border;
    }

    .home-resources {
        grid-area: resources;
        padding: 5em $media-small;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .home-authors {
        grid-area: featuredAuthor;
        padding: 5em $media-small;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 767px) {

    .home-body {
        grid-area: body;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 3em repeat(5, auto);
        grid-template-areas:
          "featuredArticle"
          "featuredNote"
          "articleTitle"
          "articleGrid"
          "morearticles"
          "subsc"
          "resources"
          "featuredAuthor";
        font-family: $open-font;
    }

    .featured-article-card {
      grid-area: featuredArticle;
    }

    .featured-note-container {
        grid-area: featuredNote;
        margin: 1.5em $media-smallest 9em;
    }

    .articleGrid {
        grid-area: articleGrid;
        margin: 0;
        display: flex;
        flex-direction: column;
        margin-top: 1.5em;
    }
    
    .home-more-articles-link {
        grid-area: morearticles;
        margin: -3em 0 5em;
        padding-right: 4%;
        height: 3em;
        border-top: $light-border;
        border-bottom: $light-border;
    }

    .home-resources {
        grid-area: resources;
        padding: 5em $media-smallest;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .home-authors {
        grid-area: featuredAuthor;
        padding: 5em $media-smallest;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 401px) and (max-width: 767px) {
    .all-wrap-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 4.5em 1fr 15em;
      grid-template-areas:
        "header"
        "body"
        "footer";
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      line-height: 1.45;
    }
}

@media (max-width: 400px) {
    .all-wrap-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 4.5em 1fr 15em;
      grid-template-areas:
        "header"
        "body"
        "footer";
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
      line-height: 1.45;
    }
}