$brand-font: 'Alegreya Sans SC', sans-serif;
$open-font: 'Open Sans', sans-serif;
// border on filling backgrounds
$light-border: solid .5px #e2e2e2;
// brand color
$brand-color: #278DAA;
// all the filling backgrounds
$fill-color: #F2F2F2;
// hover from dark
$between-fill-color: #ACACAC;
// tags
$darker-fill-color: #62665E;

//fonts 14, 16, 18
    //title
$m-title: 1.65em;
    //header  tagcar(header)
$m-title-small: 1.05em;
    //content more tagcarhead
$m-small: .95em;
    //tagcarcontent author(articles)
$m-smaller: .85em;
    //time author(home) tags
$m-smallest: .75em;

//media margins
$media-large: 18%;
$media-medium: 14%;
$media-small: 9%;
$media-smallest: 3.5%;