@import '../../config/variable.scss';

@media (min-width: 1225px) {
    .footer-container {
        grid-area: footer;
        background-color: $fill-color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;
        width: 100%;
        padding: 1.5%;
    }

    .footer-legal {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: .7em;
        color: #868585;
        cursor: default;
    }
}

@media (min-width: 768px) and (max-width: 1224px) {
    .footer-container {
        grid-area: footer;
        background-color: $fill-color;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 100%;
        width: 100%;
        padding: 1.5%;
    }
    
      .footer-legal {
        display: flex;
        font-size: .7em;
        color: #868585;
        cursor: default;
    }
}

@media (max-width: 767px) {
    .footer-container {
        grid-area: footer;
        background-color: $fill-color;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 100%;
        width: 100%;
        padding: 1.5%;
    }
    
      .footer-legal {
        display: flex;
        font-size: .7em;
        color: #868585;
        cursor: default;
    }
}